{% extends 'base.html.twig' %}
{% block body %}
{% include'commons/_header.html.twig' %}

<section id="mention-legal">
    <h2>Mentions Légales</h2>

    <h3>Édition & Conception </h3>
    <p>Agence JARTA Communication </p>

    <h3>Hébergement </h3>
    <p>OVH – 2 rue Kellermann, 59100 Roubaix </p>

    <h3>Propriété intellectuelle </h3>
    <p>Toute représentation totale ou partielle, à quelque fin que ce soit, du ou des contenu(s) du Site (notamment photographies, vidéos, textes, logos, design et construction du Site) est strictement interdite et constitue une contrefaçon conformément aux dispositions du Code de la propriété intellectuelle.
        Jarta Communication est et demeure titulaire des droits de propriété relatifs à tout élément des services et fonctionnalités prévus sur le Site mis à disposition de l’Utilisateur. </p>

    <h3>Données personnelles </h3>
    <p>Pour en savoir plus, veuillez consulter cette page : <a href="politiqueconf.html">Politique de confidentialité et de protection des données personnelles.</a></p>

    <h3>Communication </h3>
    <p>Vous pourrez recevoir des communications de la part de Bring the Light. Si vous ne souhaitez plus les recevoir, il suffit de cliquer sur le lien de désabonnement que les newsletters ou mails présentent. </p>

    <h3>Droit d’accès, de modification et de suppression </h3>
    <p>Conformément à la loi n°78-17 du 6 janvier 1978, dite loi Informatique et Libertés, vous disposez d’un droit d’accès, de rectification et de suppression à l’égard de toute information vous concernant. Ce droit peut être exercé par courriel à : info@escapegames.fr </p>

</section>

{% endblock %}