<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>A propos</h6>
                <p class="text-justify">Développeur Web Junior. Voici mon site qui incluent les langages de programmation TWIG, CSS, Bootstrap, JavaScript, PHP, Symfony .</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                    <li><a href="#">Symfony 5.4</a></li>
                    <li><a href="#">PHP</a></li>
                    <li><a href="#">JavaScript</a></li>
                    <li><a href="#">Css</a></li>
                    <li><a href="#">Twig</a></li>
                    <li><a href="#">Bootstrap</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Liens Rapide</h6>
                <ul class="footer-links">
                    <li><a href="{{ path('app_mentions') }}">Mentions Légales</a></li>
                    <li><a href="{{ path('app_rgpd')}}">Politique Confidentialité</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
                    <a href="#">Thomas Delattre</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="github" href="https://github.com/Thomas-delattre/Hackathon-Project.git" target="_blank"><img src="{{ asset('assets/icons/github.svg') }}" alt="icone github"></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/in/thomas-delattre-dev/" target="_blank"><img src="{{ asset('assets/icons/linkedin.svg') }}" alt="icone linkedin"> </a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>