<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>A propos</h6>
                <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                    <li><a href="#">Symfony 5.4</a></li>
                    <li><a href="#">PHP</a></li>
                    <li><a href="#">JavaScript</a></li>
                    <li><a href="#">Css</a></li>
                    <li><a href="#">Twig</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Liens Rapide</h6>
                <ul class="footer-links">
                    <li><a href="../mentions/rgpd.html.twig">Mentions Légales</a></li>
                    <li><a href="../mentions/politiqueconf.html.twig">Politique Confidentialité</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
                    <a href="#">Thomas Delattre</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="github" href="https://github.com/Thomas-delattre/Hackathon-Project.git" target="_blank"><img src="{{ asset('assets/icons/github.svg') }}"></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/in/thomas-delattre-dev/" target="_blank"><img src="{{ asset('assets/icons/linkedin.svg') }}"> </a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>