<header>
   <div>
       <ul>
           <li><a href="{{ path('app_home') }}">Accueil</a></li>
           <li><a href="{{ path('app_main_addMoto') }}">Ajouter une moto</a></li>
           <li><a href="#">login</a></li>
       </ul>
   </div>
</header>