{% extends 'base.html.twig' %}

{% block title 'Nouvel Article ' %}
{% block body %}
 {% include 'commons/_header.html.twig' %}
    <h1 id="titre-create">Ajout d'un nouvel article</h1>
    <div class="container-form-create">
        {{ form_start(motoForm) }}
        {{ form_widget(motoForm) }}
        {{ form_end(motoForm) }}
    </div>
{% endblock %}